/*  rem calculator https://offroadcode.com/rem-calculator/ */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Yrsa', serif;
}

body,
a {
  color: rgba(50, 50, 50, 1);
}

h1, h2, h3 {
  margin-top: 0.3em;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

nav {
  padding: 20px 10px 14px;
  border-bottom: 1px solid #777;
}

nav ul li {
  padding: 0;
  display: inline-block;
  padding: 0px 10px;
}

nav ul li a.current {
  text-decoration: none;
}

.content {
  padding: 14px 20px;
  font-size: 1.25rem;
}

footer {
  border-top: 1px solid #777;
  padding: 14px 20px;
  padding-top: calc(1.1rem);
}

#photoContainer {
  position: relative;
}

#photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #5e5e5e;
}

#photo img {
  max-width: 100%;
  max-height: 100%;
}
p {
  text-align: justify;
}
